@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
.header {
    background-image: url('./resources/codebg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
body{
    margin: 0px;
    padding: 0px;
}
.about-me{
    font-size: 20px;
    opacity: 0.5;
}
.title{
    font-weight: bold;
}
.card-body{
    height: 25vh;
    overflow: auto;
}
.card img{
    height: 20vh;
}
.heading{
    text-align: center;
    font-size: larger;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
.nav-item a:hover{
    color: white;
    font-size: larger;
}