extends base.pug

block scripts
  script(src='/static/index.js')
block style
  style 
    include ../static/index.css
block content
        section#introduction 
            h1 Welcome To Soumyadip's Dance Academy   
            p  Where success meets passion
        section#sponsors 
            div#heading
                | Our Sponsors 
            div.card
                div.card-section#addidas
                    h4  Addidas 
                    a.btn(href="#") 
                        p Click To Know More 
                div.card-section#rayban
                    h4  Ray-Ban 
                    a.btn(href="#")
                        p Click To Know More 
                div.card-section#reebok
                    h4  Reebok 
                    a.btn(href="#")
                        p Click To Know More 
                div.card-section#microsoft
                    h4  Microsoft 
                    a.btn(href="#")
                        p Click To Know More 
                div.card-section#netflix
                    h4  Netflix 
                    a.btn(href="#")
                        p Click To Know More 
                div.card-section#amazon
                    h4  Amazon 
                    a.btn(href="#")
                        p Click To Know More