@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

body{
    display: flex;
    justify-content: center;
    background-color: orange;
    align-items: center;
    flex-direction: column;
    font-size:xx-large;
    font-family: 'Nabla', cursive;
}


#clockContainer{  
    position: relative;
    height: 40vw;
    width: 40vw; 
    background-color: red;
    background-image: url(clock.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

#hour,#minute,#second{
    position: absolute;
    border-radius: 10px; 
    transform-origin: bottom;
}
#hour{
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;  
    background: black;
}
#minute{
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;  
    background: red;
}
#second{
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8; 
    background: blue;
}
.footer{
    background-color: cadetblue;
}